extends layout

block content
    #container
        #content
            div(style='height:1px')
            #works
                .pd5
                    .list_info_i(style='margin-top:5px;')
                        dl.list_info_views
                            dt
                            dd 7416
                            .clear
                        dl.list_info_comment
                            dt
                            dd 5
                            .clear
                        dl.list_info_like
                            dt
                            dd 8
                            .clear
                        dl.works_view
                            dt
                            dd 8天前
                            .clear
                        .clear
                    .clear
                    .article_ct
                        p
                            img(src='./rrr_files/1421906192522_1140x0.jpg', height='', width='', style='height: auto;')
                    .clear
            #more_about
                h4 相关文章
                .more_about
                    table(width='100%', border='0', cellspacing='5')
                        tbody
                            tr
                                td
                                    a(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                        img(src='./rrr_files/142013403687.gif')
                                td
                                    a(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                        img(src='./rrr_files/1417593165541.png')
                                td
                                    a(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                        img(src='./rrr_files/1416412664171.png')
                                td
                                    a(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                        img(src='./rrr_files/142013403687.gif')
                                td
                                    a(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                        img(src='./rrr_files/1417593165541.png')
                                td
                                    a(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                        img(src='./rrr_files/1416412664171.png')
            #comment
                .comment_other
                    h4 全部评论: 5条
                ul
                    li(postdata='17470', usdata='20035')
                        .pd5
                            a.avt.fl(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                img(src='./rrr_files/100')
                            .comment_content
                                h5
                                    .fl
                                        a.comment_name(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#') 爱玩
                                        span 2天前
                                    .fr.reply_this [回复]
                                    .clear
                                .comment_p
                                    .comment_pct 太赞了
                            .clear
                            .comment_reply
                    li(postdata='17468', usdata='20035')
                        .pd5
                            a.avt.fl(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                img(src='./rrr_files/100')
                            .comment_content
                                h5
                                    .fl
                                        a.comment_name(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#') 爱玩
                                        span 2天前
                                    .fr.reply_this [回复]
                                    .clear
                                .comment_p
                                    .comment_pct 顶顶顶顶顶多大
                                    .quote
                                        .pd10 看看看看
                            .clear
                            .comment_reply
                    li(postdata='17467', usdata='20035')
                        .pd5
                            a.avt.fl(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                img(src='./rrr_files/100')
                            .comment_content
                                h5
                                    .fl
                                        a.comment_name(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#') 爱玩
                                        span 2天前
                                    .fr.reply_this [回复]
                                    .clear
                                .comment_p
                                    .comment_pct 看看看看
                                    .quote
                                        .pd10 dsafdafds
                            .clear
                            .comment_reply
                    li(postdata='17305', usdata='1959')
                        .pd5
                            a.avt.fl(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                img(src='./rrr_files/100(1)')
                            .comment_content
                                h5
                                    .fl
                                        a.comment_name(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#') 亻夫
                                        span 6天前
                                    .fr.reply_this [回复]
                                    .clear
                                .comment_p
                                    .comment_pct dsafdafds
                            .clear
                            .comment_reply
                    li(postdata='17263', usdata='3984')
                        .pd5
                            a.avt.fl(target='_blank', href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                                img(src='./rrr_files/1')
                            .comment_content
                                h5
                                    .fl
                                        a.comment_name(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#') wenrou
                                        span 7天前
                                    .fr.reply_this [回复]
                                    .clear
                                .comment_p
                                    .comment_pct 能不能直接拖动换排序···人性化点！
                            .clear
                            .comment_reply
                .pd5
#us_panel_menu
    .us_panel_msk
    .us_panel_menu_t
        table(width='100%', cellspacing='0')
            tbody
                tr
                    td.us_panel_menu_index(valign='top')
                        a(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                            i
                            span 首页
                    td.us_panel_menu_designer(valign='top')
                        a(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                            i
                            span 设计师
                    td.us_panel_menu_help(valign='top')
                        a(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                            i
                            span 帮帮忙
                    td.us_panel_menu_about(valign='top')
                        a(href='#/preview/1/2015-01-23/UEhtml/zhengwen.html#')
                            i
                            span 关于
#us_panel2
    table(width='100%', height='100%', cellspacing='0', border='0')
        tbody
            tr
                td.us_panel_like
                    i
                    span
                        | 喜欢(
                        em 8
                        | )
                td.us_panel_menu
                    .arrow_top
                    i
                    .us_panel_menu_left
                    .us_panel_menu_right
                td.us_panel_post
                    i
                    span
                        | 评论(
                        em 5
                        | )
#add_newpost
    .add_newpost
        table(width='100%', height='100%', cellspacing='5')
            tbody
                tr
                    td.add_newpost_cancel 取消
                    td.add_newpost_post 评论
    .newpost_w
        .pd10
            .newpost_w_t
                textarea
#add_favorite
    .hd
        .wrap
            .fl
                span 喜欢的分类
            .fr
            .clear
    .ct(style='height: 508px;')
        .wrap
            .created_cate
                .created_cate_add 添加
                .created_cate_ipt
                    input(type='text', placeholder='创建分类')
                .clear
            ul#add_favorites_choose
#share
    .share_msk
    .share
        table(width='100%', cellspacing='10', border='0')
            tbody
                tr
                    td.sina
                        a(href='http://service.weibo.com/share/share.php?url=http://www.ke01.com/post/3377/&title=%E7%AE%80%E6%B4%81%E7%BD%91%E9%A1%B5%E5%8D%95%E9%A1%B5(%E5%90%ABPSD%E6%96%87%E4%BB%B6)&pic=http://cdn.ke01.com/201401/1389608264889.jpg&appkey=3206975293', target='_blank')
                    td.guangbo
                        a(href='http://share.v.t.qq.com/index.php?c=share&a=index&url=http://www.ke01.com/post/3377/&title=%E7%AE%80%E6%B4%81%E7%BD%91%E9%A1%B5%E5%8D%95%E9%A1%B5(%E5%90%ABPSD%E6%96%87%E4%BB%B6)&pic=http://cdn.ke01.com/201401/1389608264889.jpg&appkey=3206975293', target='_blank')
                    td.facebook
                        a(target='_blank', href='http://www.facebook.com/sharer.php?u=http://www.ke01.com/post/3377/&t=%E7%AE%80%E6%B4%81%E7%BD%91%E9%A1%B5%E5%8D%95%E9%A1%B5(%E5%90%ABPSD%E6%96%87%E4%BB%B6)&images=http://cdn.ke01.com/201401/1389608264889.jpg')
                    td.twitter
                        a(target='_blank', href='http://twitter.com/share?text=%E7%AE%80%E6%B4%81%E7%BD%91%E9%A1%B5%E5%8D%95%E9%A1%B5(%E5%90%ABPSD%E6%96%87%E4%BB%B6)&url=http://www.ke01.com/post/3377/&pic=http://cdn.ke01.com/201401/1389608264889.jpg')
        .pd10
            .cancel_share
                a(href='', onclick='return false;') 取消分享
#reg_index
    .reg_bar
        .wrap
            span.fl
                i
                | 注册帐号
            i.reg_bar_close.fr
            .clear
    .wrap.reg_ct
        p
            | 您可以选择以下第三方帐号直接登录uehtml
            br
            | 一分钟完成注册
        a#weibo_app(href='#/oauth/weibo/login')
            span
                i
                | 微博帐号登录
        a#qq_connect(href='#/oauth/qq/login')
            span
                i
                | QQ  帐号登录
.loading_dark
#loading_mask
    .loading_mask
        ul.anm
            li
            li
            li
            li
            li
#cli_dialog