#menu
   .search_wrap
      form(action="" method="get")
         input.search_input(type="text" name="search" placeholder="关键字查找")
         i.reset_input
         i

   ul
      li.nav_index.menu_cur
         a(href="#")
            i
            span 首页
            b
            .clear

      li.nav_site
         a(href="#")
            i
            span 设置
            b
            .clear

      li.nav_help
         a(href="#")
            i
            span 帮助
            b
            .clear

      li.nav_about
         a(href="#")
            i
            span 关于我们
            b
            .clear
