#header
    .wrap
        i.menu_open
        .logo
            a(href="/")
                //-img(src="images/logo.png")
                span LOGO 
                p 返回首页
        i.search_open
    .logo_msk
