#user
    #signinBox
        if user
            span 欢迎您, #{user.name}
            span &nbsp;|&nbsp;
            a.navbar-link(href="/logout") 退出
        else
            .account
                .login_b_t
                    .pd10
                        .fl 还没有账号
                            a#reg_now(href="javascript:;") 立即注册
                        .fr
                            a(href="") 忘记密码?
                        .clear

            .pd10
                .login_b_i
                    .login_input
                        .login_user
                            input#signinName(type="text" name="user[name]" placeholder="帐号")
                            i
                        .login_password
                            input#signinPassword(type="password" name="user[password]" placeholder="密码")
                            i
                button#signinSubmit.login_submit 登录


    #signupBox.hide
        if user
            span 欢迎您, #{user.name}
            span &nbsp;|&nbsp;
            a.navbar-link(href="/logout") 退出
        else
            .account
                .login_b_t
                    .pd10
                        .fl 已有账号
                            a#login_now(href="javascript:;") 立即登录
                        .fr
                            a(href="") 忘记密码?
                        .clear

            .pd10
                .login_b_i
                    .login_input
                        .login_user
                            input#signupName(type="text" name="user[name]" placeholder="帐号")
                            i
                        .login_password
                            input#signupPassword(type="password" name="user[password]" placeholder="密码")
                            i
                button#signupSubmit.login_submit 注册